<html>
  <head>
    <link rel="stylesheet" type="text/css" href="cluster.css">
  </head>
  
  <br>

  <body>
    <h1>
      Cluster: Add client 
  </h1>
    <p>
      <form action="/add_client" method="POST">
        Enter a client name: <input type="text" name="new_client">
        <input type="submit" value="Submit">
      </form>
    </p>
    <%  if @clients %>
      <table border=".25">
        <tr>
          <td><b>Clients</b></td>
        </tr>
        <% @clients.each do |client| %>
            <tr>
              <td> <%= "#{client.name}" %> </td>
            </tr>
        <% end %>
      </table>
    <% end %>
    <p><a href="/">View top tasks</a></p>
    <p><a href="/all_tasks">View all tasks</a></p>
    <p><a href="/add_task">Add a task</a></p>
  </body>
</html>
