<!DOCTYPE html>
<html>
  <%= erb :head %>
  <body>
    <%= erb :menu_banner %>
    <div class="container">
      <div class="starter-template">
        <p class="lead">Track clients and client-related tasks.</p>
      </div>
    </div><!-- /.container -->


    <h1 class="header">
      Add a client
    </h1>

    <div class="belowHeader">
      <div class="column">
        <form action="/add_client" method="POST">
          <fieldset>
            <label>Client Status:</label>
            <select name="status">
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
              <option value="prospect">Prospect</option>
            </select>
            <input id="client-entry" size="50" type="text" name="new_client" class="form-control" placeholder="Enter a client">
            <input type="submit" value="Submit" class="button">
          </fieldset>
        </form>
      </div>

    <%  if @clients %>
      <table class="table table-striped" id="smallTable">
        <tr>
          <td><b>Clients</b></td>
        </tr>
        <% @clients.each do |client| %>
            <tr>
              <td> <%= "#{client.name}" %> </td>
            </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  </body>
</html>
