<fieldset>
  <label>Client Status:</label>
  <select name="status">
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
    <option value="prospect">Prospect</option>
  </select>
  <input id="client-entry" size="50" type="text" name="new_client" class="form-control" placeholder="Enter a client">
  <input type="submit" value="Submit" class="button">
</fieldset>
