<!DOCTYPE html>
<html>
  <%= erb :'partials/head' %>
  <%= erb :'partials/menu_banner' %>
  <body>
    <h1 class="belowHeader">
      Top tasks
    </h1>

    <%  if @clients != [] %>
      <%= erb :'partials/active_clients' %>
    <% else %>
      <p id="clientTable">There are no clients in the database.</p>
    <% end %>
  </body>
</html>
