<!DOCTYPE html>
<html>
  <%= erb :head %>
  <%= erb :menu_banner %>
  <body>
    <h1 class="belowHeader">
      Top tasks
    </h1>

    <%  if @clients != [] %>
      <%= erb :active_clients %>
    <% else %>
      <p id="clientTable">There are no clients in the database.</p>
    <% end %>
  </body>
</html>
