<!DOCTYPE html>
<html>
  <body>
    <h1 class="belowHeader">
      Top Tasks
    </h1>

    <%  if data_mapper_wrapper.clients_in_database?(@clients) %>
      <%= erb :'partials/active_clients' %>
    <% else %>
      <p id="clientTable">There are no clients in the database.</p>
    <% end %>
  </body>
</html>
