<h1 class="belowHeader">Login</h1>
<form class="belowHeader" action="/login" method="post">
  <p><input class="form-control" type="text" name="username" placeholder="Username" /></p>
  <p><input class="form-control" type="password" name="password" placeholder="Password" /></p>
  <input type="submit" value="Log In" class="button" />
</form>
