<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cluster</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/all_clients">Clients</a></li>
        <li><a href="/prospects">Prospects</a></li>
        <li><a href="/add_client">Add Client</a></li>
        <li><a href="/add_task">Add Task</a></li>
        <li><a href="/all_tasks">All Tasks</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
