<!DOCTYPE html>
<html>
  <%= erb :head %>
  <body>
    <%= erb :menu_banner %>
    <div class="container">
      <div class="starter-template">
        <p class="lead">Track clients and client-related tasks.</p>
      </div>
    </div><!-- /.container -->


    <h1 class="header">
      All prospects
    </h1>

    <div class="belowHeader">

      <%  if @clients %>
        <table class="table table-striped" id="smallTable">
          <tr>
            <td><b>Prospects</b></td>
          </tr>
          <% @clients.each do |prospect| %>
            <tr>
              <td> <%= "#{prospect.name}" %> </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </body>
</html>
