<!DOCTYPE html>
<html>
  <%= erb :head %>
  <body>
    <%= erb :menu_banner %>
    <h1 class="belowHeader">
      All prospects
    </h1>
    <div class="belowHeader">
      <%  if @clients %>
        <table class="table table-striped" id="smallTable">
          <tr>
            <td><b>Prospects</b></td>
          </tr>
          <% @clients.each do |prospect| %>
            <tr>
              <td> <%= "#{prospect.name}" %> </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </body>
</html>
