<div class="belowHeader">
  <table class="table table-striped">
    <tr>
      <td><b>Client</b></td>
      <td><b>Status</b></td>
      <td><b>Top Task</b></td>
      <td><b>Created On</b></td>
      <td><b>Click to Complete</b></td>
    </tr>
    <%= erb :'partials/display_clients_and_tasks' %>
  </table>
</div>
