<select name="status">
  <option value=<%= ::Client::States::ACTIVE %>>Active</option>
  <option value=<%= ::Client::States::PROSPECT %>>Prospect</option>
  <option value=<%= ::Client::States::DORMANT %> selected="selected">Dormant</option>
</select>
