<select name="status">
  <option value=<%= ::Client::States::ACTIVE %>>Active</option>
  <option value=<%= ::Client::States::PROSPECT %> selected="selected">Prospect</option>
  <option value=<%= ::Client::States::DORMANT %>>Dormant</option>
</select>
